= form_for @project, :html => {:class => 'form-horizontal'} do |f|
  %legend New Project
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :lifecycle_id, :class => 'control-label'
    .controls
      = f.select :lifecycle_id, Lifecycle.select_options, :selected => params[:lifecycle_id]
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :rows => 4
  .control-group
    .controls
      = f.submit 'Save', :class => 'btn'
      = link_to 'Back', projects_path, :class => 'btn'

