%p#notice= notice

= render 'shared/tab'

:javascript
  PET.activeTab("overview");

.border-project
  .project-phase-title
    %h4= @project.name
  %dl.dl-horizontal
    %dt Lifecycle:
    %dd= @project.lifecycle.name
    %dt Description:
    %dd= @project.description

  = link_to 'Edit', '#' #edit_project_path(@project)
  \|
  = link_to 'Back', projects_path
