%p#notice= notice

%dl.dl-horizontal
  %dt Name:
  %dd= @project.name
  %dt Lifecycle:
  %dd= @project.lifecycle_id
  %dt Description:
  %dd= @project.description

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
