%p#notice= notice

= render 'shared/tab'

.border-project
  - if @project.project_phases.any?
    - @cell_width = 100 / @project.project_phases.size
    %table#phases-table
      %tr
        - @project.project_phases.each do |phase|
          %th.phase-title= phase.lifecycle_phase.name
      %tr
        - @project.project_phases.each do |phase|
          %td{:width => "#{@cell_width}%"}
  - else
    = "There are no project phases."